.container {
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--color-grey-light-1);
    box-shadow: var(--shadow-dark);

    min-height: 50rem;

    // Desktop first strategy and breakpoint when the design collapse!
    // we have to mix variables [css and sass] because css doesn't allow to use variables in media queries!
    @media only screen and (max-width: $bp-largest) {
        margin: 0;
        // we change this two below to 100% since we have font-size of 50% of previous value and that give us 8px (it is 50% of 16px) and the max-width of 960px (120rem * 8px = 960px)!!!
        max-width: 100%;
        width: 100%;
    }
}

.header {
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom: var(--line);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    display: flex;

    @media only screen and (max-width: $bp-medium) {
        flex-direction: column;
    }
}

.sidebar {
    background-color: var(--color-grey-dark-1);

    flex: 0 0 18%;

    // here we have changed the MAIN AXIS direction and then we are able to create space between legal text and sied-nav using justify-content which works only on the MAIN AXIS
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hotel-view {
    background-color: #fff;

    flex:1;
}

.detail {
    font-size: 1.4rem;
    display: flex;
    padding: 4.5rem;
    background-color: var( --color-grey-light-1);
    border-bottom: var(--line);

    @media only screen and (max-width: $bp-medium) {
        padding: 2rem;
    }
}

.description {
    background-color: #fff;
    box-shadow: var(--shadow-light);
    padding: 3rem;
    flex: 0 0 60%;
    margin-right: 4.5rem;

    @media only screen and (max-width: $bp-medium) {
        padding: 2rem;
        margin-right: 3rem;
    }
}

.user-reviews {
    // it will occupy the available space
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
}